[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
geopandas = "*"
esda = "*"
scikit-learn = "*"
joblib = "*"
jupyter = "*"
notebook = "*"
ipython = "*"
libpysal = "*"
contextily = "*"
pyproj = "*"
leafmap = "*"
jupyter-leaflet = "*"
geemap = "*"
folium = "*"
pandoc = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
